{% extends 'pages/p-layout.twig' %}

{% block layout %}
	<div class="smallcontainer mx-auto " style="">
		<header>
			<a href="listPlaylists.php">
				<button class="backbtn">
					<i class="fas fa-arrow-left"></i>
				</button>
			</a>
			<h2 class="inline">Hinzugefügte Songs</h2>
		</header>
		<div class="w-full py-4">
			<div class="border-b border-grey pb-4">
				{% include "components/c-playlist.twig" with {'disableHover': true} %}
			</div>
			<div class="h-8 mt-4 mb-2 mr-2">
				<div class="float-right relative inline-block text-left dropdown">
					<span class="rounded-md shadow-sm">
						<button class="playbtn inline-flex justify-center dropdown-toggle">
							<i class="fas fa-ellipsis-h"></i>
						</button>

					</span>
					<div class="opacity-0 invisible dropdown-menu transition-all duration-300 transform origin-top-right -translate-y-2 scale-95">
						<div class="absolute right-0 w-56 mt-2 origin-top-right bg-darkgrey-400 divide-y divide-grey rounded-sm shadow-3xl outline-none" role="menu">
							<div class="py-1">
								<a href="acceptAll.php?id={{ playlistObject.getDbId() }}&amp;acceptAll=true" tabindex="0" class="text-white-beige hover-hover:bg-darkgrey-200 flex justify-between w-full px-4 py-2 text-sm leading-5 text-left" role="menuitem">Alle Songs übernehmen</a>
								<a href="declineAll.php?id={{ playlistObject.getDbId() }}&amp;declineAll=true" tabindex="1" class="text-white-beige hover-hover:bg-darkgrey-200 flex justify-between w-full px-4 py-2 text-sm leading-5 text-left" role="menuitem">Alle Songs ablehnen</a>
							</div>
							<div class="py-1">
								<a href="deleteTask.php?id={{ playlistObject.getDbId() }}&amp;deleteTask=true" tabindex="3" class="text-white-beige hover-hover:bg-darkgrey-200 flex justify-between w-full px-4 py-2 text-sm leading-5 text-left" role="menuitem">Auftrag löschen</a>
							</div>
						</div>

					</div>

				</div>
			</div>

			{% if not isAuthorized %}
				<div class="text-center pt-9">
					<p class="font-bold mt-4 mb-1">Zustimmung erforderlich!</p>
					<p class="text-sm">&quot;{{ playlist.sourceOwner.display_name }}&quot; muss zuerst zustimmen, damit du seinen/ihren Lieblingssongs folgen darfst.</p>

				</div>
			{% elseif playlist.trackedChanges is empty %}
				<div class="text-center pt-9">
					<p class="font-bold mt-4 mb-1">Keine Veränderungen anzuzeigen!</p>
					<p class="text-sm">Scheinbar wurden der Playlist &quot;{{ playlist.sourceName }}&quot; von &quot;{{ playlist.sourceOwner.display_name }}&quot; keine neuen Songs hinzugefügt.</p>

				</div>

			{% else %}
				<ul class="divide-y divide-darkblue">
					<li class="changesElem">
						<div class="h-9 flex items-center text-xs text-grey font-normal tracking-widest uppercase py-2 sm:px-2">
							<div class="colPlay"></div>
							<div class="colTitle">
								Titel
							</div>
							<div class="colAlbum">
								Album

							</div>
							<div class="colButtons"></div>
						</div>
					</li>
					{% for c in playlist.trackedChanges %}
						<li id="change-{{ c.track.uri }}" class="changesElem addedSong py-1">
							<div class="flex group rounded-md py-2 sm:px-2 hover-hover:bg-white hover:bg-opacity-10">
								<div class="colPlay flex items-center justify-content">
									{% set songPreview = c.track.preview_url %}
									<div class="show-on-group-hover playwrapper">
										<button class="start-playing rounded-full justify-center playbtn inline-flex" onclick="onPlayButton(this)" data-source="{{ songPreview|default('') }}" {{(songPreview is null) ? 'disabled' : ''}}>
											<i class="bi bi-play-fill text-lg" style="transform: translate(5%, -2.5%);"></i>
										</button>
									</div>
									<div class="pausewrapper">
										<button class="rounded-full justify-center playbtn inline-flex" onclick="onPauseButton(this)">
											<i class="bi bi-pause-fill text-lg" style="transform: translate(2.5%, -2.5%);"></i>
										</button>

									</div>


								</div>
								<div class="colTitle items-center min-w-0">
									<div class="hidden 2xs:block w-10 min-w-10 h-10 mr-3">
										{% include "components/c-image.twig" with {"songImage": imageChooser.getCoverUrl(c.track.album.images, 40)} %}
									</div>
									<div class="min-w-0">
										<div class="font-normal truncate-ellipsis">{{ c.track.name }}</div>
										<div class="text-sm text-grey group-hover-hover:text-white truncate-ellipsis">{{ playlistObject.getArtistString(c) }}</div>
									</div>
								</div>
								<div class="colAlbum items-center min-w-0 ">
									<div class="text-sm text-grey group-hover-hover:text-white truncate-ellipsis">{{ c.track.album.name }}</div>

								</div>
								<div class="colButtons items-center justify-end">
									<button onclick="acceptChange('{{ playlistObject.getDbId() }}', '{{ c.track.uri }}')" class="mr-1 sm:mr-4 rounded-full justify-center actionbtn btn-border-green btn-border-disabled" title="Änderung übernehmen">
										<i class="fas fa-check"></i>
									</button>
									<button onclick="declineChange('{{ playlistObject.getDbId() }}', '{{ c.track.uri }}')" class="rounded-full justify-center actionbtn btn-border-red btn-border-disabled" title="Änderung ablehnen">
										<i class="fas fa-times"></i>
									</button>

								</div>
							</div>
						</li>
					{% endfor %}
				</ul>

			{% endif %}

			<!--	-->

		</div>
	</div>

{% endblock %}
